.leftSide {
  background-color: #000000;
  color: #e8e8e8;
  min-height: 100vh;
  position: relative;
  border-right: 0.09px solid #b5b5b5;
  max-width: 21rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 2rem;
  height: 100%;
}

nav svg {
  height: 1.3em;
  margin-right: 0.5em;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  gap: 0.5rem;
}
li {
  cursor: pointer;
  font-weight: 500;
}
li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}
a:hover {
  color: #1075b4;
  background-color: #192734;
  border-radius: 1.5rem;
}

.tweet {
  background: #007ac6;
  color: #fff;
  width: 16em;
  height: 3em;
  border-radius: 1.5em;
  font-size: 1em;
  margin-top: 1em;
  margin-left: 2em;
  cursor: pointer;

  &:hover {
    background: #0f90e5;
  }
}
.user-panel {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  margin-top: 15em;
}
.account {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  margin-bottom: 8px;
  margin-left: 5px;
}
.username {
  display: flex;
  flex-direction: column;
}
.username span {
  font-weight: 350;
  color: #8c8c8c;
}
.email {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.photo {
  border-radius: 100%;
  height: 3.5rem;
  width: 3.5rem;
  background: #192734;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}
