* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.app {
  font-family: "Segoe UI", "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 1.2fr 2.2fr 1.4fr;
  background-color: #000000;
  color: #ffffff;
}
